/* #root {
    background-color: rgb(158, 119, 45);
} */
html, body {
    margin:0;
    padding:0;
}

.header {
    position: fixed;
    margin-left:0;
    margin-top:0;
    width:100%;
    height:auto;
    background-color: rgb(200, 200, 200);
    border-style:solid;
    border-width:2px;
    border-color: rgb(76, 148, 58);
}

.topOfHeader {
    float:left;
    width:100%;
    height:auto;
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-width:2px;
    border-color: rgb(68, 183, 255);
}

#logo {
    margin:10px;
}

.navbarBottom {
    float:left;
}

.navbarButton {
    float:left;
    margin:0.2em;
    margin-left:1em;
    width:6em;
    height:4em;
    text-align: center;
    border-style:solid;
    border-width:2px;
    border-radius: 20px;
    border-color: rgb(135, 135, 135);
    transition: 0.2s;
}

.navbarButton:hover {
    background-color: rgb(230, 230, 230);
    cursor:pointer;
    text-decoration: underline;
}

.buttonText {
    margin-top:3.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}